<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

{{ users }}

{{ current_user }}

{{ all_courses }}

{% if course_list %}
	<ul>
	{% for course in course_list %}
		<li>
			{{ course }}<button type="button" class='buttons' id='course_button'>Join/Leave</button>
			<div id="coursemates_link">
				{% if course in all_courses %}
					<a href='{{ course.id }}'>see coursemates</a>
				{% else %}
					<a>see coursemates</a>
				{% endif %}
			</div>
		</li>
		
		<script>
			document.getElementById('course_button').id = String({{ course.id }});
			document.getElementById('coursemates_link').id = String({{ course.id }}) + 'link';
		</script>

	{% endfor %}
	</ul>
{% else %}
	<p>No courses are added yet.</p>
{% endif %}

<script>
	$(document).ready(function(){
		$('.buttons').click(function() {
			var needed_id = event.target.id
			$.post("/courses/ajax/",
				{"match_course": needed_id,
				csrfmiddlewaretoken:'{{ csrf_token }}'
			},
			function( data ){
    			//alert ( data )
    			//alert ( needed_id)
    			if (data == "1") {
  					$('#' + needed_id + 'link').find('a').attr('href', needed_id+"/");
  				}
  				else if (data == "0") {
  					$('#' + needed_id + 'link').find('a').removeAttr('href'); //? false : true; contents().unwrap();
  				}
  			});
  		})
	})
</script>

<a href="/courses/add_course/">Add a new course</a>
<a href="/courses/logout/">Logout</a>

</body>